* {
    box-sizing: border-box;
  }
  
  /* color palette */
  :root {
    --primary: rgba(80, 167, 204, 0.281);
    --primary-light: rgba(82, 220, 255, 0.315);
    --secondary: rgba(160, 209, 255, 0.561);
    --tertiary: rgb(78, 103, 122);
    --dark: rgb(1,31,75);
    --mid: rgba(137, 236, 218, 0.376);
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: Helvetica, Sans-Serif;
    line-height: 1.7;
  }
  
  
  p {
    margin: 0px;
  }
  
  header {
    display: flex;
    flex-direction: column;
    padding: 15px 5% 15px 5%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
  }
  
  header h1 {
    color: var(--dark);
    padding: 5px 1% 5px 1%;
    line-height: 1.5;
    margin: 2px;
    font-size: 82px;
    text-shadow: 5px 5px 6px var(--primary-light);
  }
  
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--dark);
    margin: 5px;
    background-image: linear-gradient(var(--primary-light), transparent);
    background-repeat: no-repeat;
    background-size: 110% 0.1em;
    background-position: top;
    transition: all 0.25s linear;
    font-size: 1.3rem;
    font-weight: lighter;
  }
  
  nav a:hover {
    color: var(--dark);
    background-size: 100% 100%;
  }
  
  main {
    margin: 20px 20px 20px 45px;
  }
  
  .hero-banner h2 {
    color: var(--dark);
    padding: 3px;
    font-size: 1.9rem;
  }

  .profile-picture img {
    width: 300px;
    height: 300px;
  }

  .mainPage {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .page-section {
    margin: 10px 0;
    padding: 10px 0;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .page-section > h2 {
    width: 100%;
    display: inline;
    text-align: left;
    font-size: 2vw;
    line-height: 1.1;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  .flex-item {
    position: relative;
    background-color: rgba(255, 255, 255, 0.144);
    color: var(--tertiary);
    min-height: 200px;
    max-height: 200px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-start;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    transition: all 0.5s;
    font-size: 0.9rem;
  }
  
  /* first portfolio item */
  .flex-item:last-child {
    min-height: 200px;
    flex-basis: 100%;
  }

  /* last portfolio item */
  .flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
  }

  .flex-item p {
    color:rgb(255, 255, 255);
  }


  .flex-item p:hover{
    transition: all 0.4s linear;
    background-color:rgba(51, 51, 51, 0.6);
  }

  .flex-item span {
    margin: 5px 7px;
  }
  
  .flex-item:hover {
    color: var(--tertiary);
    background-color: rgba(136, 136, 136, 0.1);
  }
  
  .flex-item div {
    height: 100%;
    padding: 13.5px 0px;
  }
  
  .flex-item h3 {
    color: var(--dark);
    background-color:rgba(255, 255, 255, 0.342);
    padding: 0px 2px;
    border-style: double;
    border-color:rgba(255, 255, 255, 0.603);
    font-size: 1.6rem;
  }

  .flex-item h3:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.192);
    transition: all 0.7s;
  }

  object {
    position: absolute;
    bottom: 10px;
    color: var(--tertiary);
  }

  object a {
    padding: 0px 2px;
    color: black;
    text-decoration: none;
  }

  object a:hover{
    color: black;
    text-shadow: 0 0 10px white, 0 0 5px white;
    text-decoration: none;
    transition: all 0.25s linear;
  }

  /* contact/footer */
  footer {
    display: flex;
  }

  #contact h2 {
    padding: 0px 6px;
  }
  
  #contact p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  
  #contact p a {
    color: var(--tertiary);
    padding: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    font-style: normal;
    background-image: linear-gradient(white 0%, transparent 75%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: top;
    transition: all 0.25s linear;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
  }
  
  #contact p a:hover {
    background-size: 100% 88%;
    color: var(--dark);
  }
  
  /* portfolio work images */
  .abc-crypto {
    background-image: url(../images/02-portfolio-abc-crypto-1.jpg);
    background-position: center;
  }

  .cryptoquip {
    background-image: url(../images/02-portfolio-cryptoquip.jpg);
    background-position: 60% 20%;
  }
  
  .tradecoin {
    background-image: url(../images/02-portfolio-tradecoin.jpg);
    background-position: center;
  }
  
  .book-search-engine {
    background-image: url(../images/02-portfolio-book-search-engine.gif);
    background-position: 0% 12%;
  }
  
  .quick-notes {
    background-image: url(../images/02-portfolio-quick-notes.JPG);
    background-position: 40% 0%;
  }

  .best-web-app {
    background-image: url("");
  }